@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 20, 0, 255;
    --background-end-rgb: 30, 30, 30;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ensure the container takes the full viewport height */
}

.login-container,
.list-container {
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer; /* Add cursor pointer to indicate it's clickable */
  text-decoration: none; /* Remove default link underline */
  color: black; /* Black text color for both containers */
}

.login-container {
  background-color: #f0f0f0; /* Light grey background color for login */
}

.list-container {
  background-color: #f0f0f0; /* Light grey background color for List */
}

.list-container:hover,
.login-container:hover {
  background-color: #d0d0d0; /* Light grey background color on hover */
}

/* Add any additional styles as needed */
